/* CSS Document */

body {
	background-color: #5C3317;
}
	body{
			color: white;
			font-family: arial, sans-serif;
			font-size: 1.5em;
		
		}
#header {
	
	
	
}
		
table {
		padding: 5% 5%;
			margin: 0 auto;
			min-width: 80%;
			border: 1px solid black;
			background-color: #804720;
			
		}
	
		#header {
			text-align: center;
			padding-bottom: 5%;
		}
	
		p {
			margin: 2% 0;
		}
		
		
		footer {
			text-align: center;
		}
		
		.fnav a{
			color: orange;
			font-weight: bold;
			text-decoration: none;
			padding: 2%;
			
		}
		.fnav a:hover{
			color: white;
			
		}
		
		